In [6]:
import pandas as pd

# Set display options for nice formatting
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.float_format', '{:.2f}'.format)

# Load and display summary table
summary_df = pd.read_csv('summary_table.csv')
print("\n" + "="*80)
print("SUMMARY TABLE - Min/Max/Avg Scores by Video")
print("="*80)
display(summary_df)

# Load and display optimal parameters
optimal_df = pd.read_csv('optimal_parameters.csv')
print("\n" + "="*80)
print("OPTIMAL PARAMETER VALUES")
print("="*80)
display(optimal_df)

================================================================================
SUMMARY TABLE - Min/Max/Avg Scores by Video
================================================================================

,Video,min_score,max_score,score_range,alpha_weight_avg,filter_size_avg,hist_percent_avg,num_samples_avg
0,abandoned,95.59,97.18,1.59,96.46,96.03,96.20,95.99
1,abandoned-demo,97.04,97.86,0.81,97.53,97.17,97.26,97.15
2,abandoned-flipped,92.92,94.65,1.73,93.69,93.24,93.55,93.22
3,cubetest,96.85,97.79,0.94,97.30,97.03,97.13,97.00
4,fantasticvillage-open,67.81,98.60,30.79,68.53,68.51,71.86,68.46
5,lightfoliage,91.09,92.66,1.57,92.04,91.42,91.61,91.30
6,lightfoliage-close,74.23,83.84,9.61,80.18,76.35,77.06,76.29
7,oldmine,87.20,93.93,6.74,91.43,89.69,90.07,89.55
8,oldmine-close,96.79,98.86,2.07,98.17,97.77,97.82,97.70
9,oldmine-warm,73.63,96.15,22.52,85.38,85.20,83.72,82.06
10,quarry-all,82.06,90.32,8.26,86.86,83.36,84.10,83.18
11,quarry-rocksonly,94.34,96.35,2.01,95.51,94.61,94.81,94.53
12,resto-close,96.87,98.05,1.18,97.62,97.87,97.91,97.80
13,resto-fwd,98.11,98.51,0.40,98.31,98.18,98.24,98.17
14,resto-pan,98.18,98.35,0.17,98.27,98.21,98.23,98.20
15,scifi,95.39,96.35,0.96,95.97,95.57,95.67,95.52
16,subway-lookdown,95.09,97.40,2.31,96.52,95.62,95.78,95.56
17,subway-turn,92.61,94.89,2.28,94.02,93.23,93.54,93.23
18,wildwest-bar,94.16,95.83,1.68,94.91,94.45,94.73,94.44
19,wildwest-barzoom,93.83,96.08,2.25,95.07,94.26,94.58,94.20
20,wildwest-behindcounter,95.03,95.91,0.88,95.40,95.22,95.35,95.19
21,wildwest-store,91.46,95.26,3.80,93.75,92.10,92.65,92.09
22,wildwest-town,86.53,93.60,7.06,90.69,88.36,88.94,88.15

================================================================================
OPTIMAL PARAMETER VALUES
================================================================================

      Parameter  Optimal Value  Avg Effect at Optimal  Effect Range
0  Alpha Weight           0.60                   1.95          3.41
1   Filter Size           0.50                   0.03          0.93
2  Hist Percent         200.00                   1.96          2.86
3   Num Samples           8.00                   0.02          1.05